body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(./assets/img/beautiful-natural-clouds-sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-transform: capitalize;
}

.weathers
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather_data{
  margin: 20px 0  ;
  background-color: rgba(76, 119, 168, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  width: 35%;
  display: inline-block;
  text-align: center;
  color: white;
}
.searchBar{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.searchBar input{
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  width: 80%;
}
.btns{
  margin-top: 2px;
  position: absolute;
  right: 10.5%;
  border: none;
  border-radius: 20px;
  background-color: rgb(131, 131, 245);
  color: white;
  padding: 8px 15px;
  text-align: center;
  transition: all .5s ease-in;
}
.btns:hover{
  background-color: rgb(100, 100, 191);
}
.city_name{
  display: flex;
  align-items: center;
  justify-content: center;
}
.temp{
  font-size: 50px;
  font-weight: 600;
}
.locals1{
  position: absolute;
  bottom: 0;
  left: 5%;
}
.humidity{
  font-size: 20px;
}
.locals2{
  position: absolute;
  bottom: 0;
  right: 5%;
}
.locals{
padding-top: 80px;
}
.rise_set{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 15px;
  padding: 25px;
}
